header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    

    padding: 2rem 0;
}

nav{
    /* display: block; */
}

nav>ul{
    display: flex;
    gap:var(--gap, 2rem)
}

nav>ul>li>a{
}

/* classes */
.logo{
    width: 3rem;
    rotate: -90deg;
    display: inline;
}

.title{
    white-space: nowrap;
}

.title-logo-group{
    display: flex;
    align-items: center;
    gap: var(--gap)
   
}