<!DOCTYPE html>
<html lang="en">
<head>
    {% include "basehead.html" %}
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <div class="title-logo-group">
            <h1 class="title">ETHAN THOMAS SAUSA</h1> 
            <img src="/assets/images/logo.png" alt="logo image" class="logo">
        </div>
        
        <nav>
            <ul role="list">
                {%- for item in collections.nav %}
                    <li>
                        <a href="{{ item.url }}" {% if page.url === item.url %}aria-current="page"{% endif %} class="nav-item">
                            {{ item.data.title }}
                        </a>
                    </li>
                {%- endfor %}

                <!-- <li><a href="/">home</a></li>
                <li><a href="/projects">projects</a></li>
                <li><a href="/resume">resume</a></li> -->
            </ul>    
        </nav>    
    </header>

    

    <!-- where template content gets placed -->
    <main class="{{title}}">
        <!-- <h1>{{title}}</h1> --> 
        
        {% block content %}
            {{content | safe}}
        {% endblock %}
    </main>
    
    <footer>
        developed by ethan sausa with 11ty
    </footer>
</body>
</html>