<!DOCTYPE html>
<html lang="en">
<head>
    {% include "basehead.html" %}
    {% block head %}{% endblock %}
</head>
<header>
    <h1>Ethan Thomas Sausa</h1>
    <nav>
        <ul role="list" class="flex_group">
            <li><a href="/">home</a></li>
            <li><a href="/projects">projects</a></li>
            <li><a href="/resume">resume</a></li>
        </ul>
    </nav>
    
</header>
<body>
    {% block content %}
        {{content | safe}}
    {% endblock %}
    
    <footer>
        <hr>
        <a href="/contact">contact</a>
        developed by ethan sausa with 11ty
    </footer>
</body>
</html>