<!DOCTYPE html>
<html lang="en">
<head>
    {% include "basehead.html" %}
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <h1>Ethan Thomas Sausa</h1>
        <img src="/assets/images/logo.png" alt="logo image" class="logo">
        <nav>
            <ul role="list">
                <li><a href="/">home</a></li>
                <li><a href="/projects">projects</a></li>
                <li><a href="/resume">resume</a></li>
            </ul>
        </nav>    
    </header>

    <main>
        <h1>{{title}}</h1>
        
        {% block content %}
            {{content | safe}}
        {% endblock %}
    </main>
    
    <footer>
        <a href="/contact">contact</a>
        developed by ethan sausa with 11ty
    </footer>
</body>
</html>