header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    

    padding: 2rem 0;
}

nav{
    /* display: block; */
}

nav>ul{
    display: flex;
    gap:var(--gap, 2rem)
}

nav>ul>li>a{
    text-transform: lowercase;
    text-decoration: none;
    color: inherit;
    opacity: 75%;
    transition: all .2s;
}

nav>ul>li>a:hover{
    opacity: 100%;
    /* font-weight: bold; */
}

nav>ul>li:nth-of-type(3n+1) a:hover{
    color:var(--magenta) !important;
}

nav>ul>li:nth-of-type(3n+2) a:hover{
    color: var(--cyan) !important;
}

nav>ul>li:nth-of-type(3n+3) a:hover{
    color: var(--yellow) !important;
} 

/* nav>ul>li>a[aria-current="page"]{
    color:var(--magenta);
} */

nav>ul>li:nth-of-type(3n+1) a[aria-current="page"]{
    color:var(--magenta) !important;
}

nav>ul>li:nth-of-type(3n+2) a[aria-current="page"]{
    color: var(--cyan) !important;
}

nav>ul>li:nth-of-type(3n+3) a[aria-current="page"]{
    color: var(--yellow) !important;
} 


/* nav>ul>li a:nth-of-type(3n+1){
    color:var(--magenta);
}

nav>ul>li a:nth-of-type(3n+2){
    color: var(--cyan);
}

nav>ul>li a:nth-of-type(3n+3){
    color: var(--yellow);
} */


/* classes */
.logo{
    width: 3rem;
    rotate: -90deg;
    display: inline;
}

.title{
    white-space: nowrap;
}

.title-logo-group{
    display: flex;
    align-items: center;
    gap: var(--gap)
   
}