#back{
    display: block;
    margin: 0 0 1em 0;
}

.tag{
    --color: var(--light);

    display: inline-block;
    
    color: var(--color);
    
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: lowercase;
    text-decoration: none;
    
    /* border: 1px solid var(--color); */
    border-radius: 6em;

    padding: 0.5em 1em; 
    margin: 0 0.5em 0 0;

    background-color: #007bff;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(var(--min),1fr));
    align-content: start;
    gap: var(--gap);
    
    color: black;
    text-align: center;   

    margin-top: 2rem;
}

.project-list>li .project-image{
    background-color: var(--light);
    aspect-ratio: 1;

    cursor: pointer;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;

    padding: 0.5vw;
    

    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

    
}

.project-list>li .project-image:hover{
    padding: 0.1vw;

    --dim: 80%;
    -webkit-filter: brightness(var(--dim));
    filter: brightness(var(--dim));
    
    
}

.project-list>li .project-title{
    margin-top: calc(var(--gap)/2);
    color:white;
    text-decoration: none;
}