---
layout: layouts/base.html
title: Ethan Thomas Sausa
---

<h1>{{title}}</h1>


<!-- project list -->
<h2>Projects</h2>
<ul>
    {% for project in collections.projects %}
        <li><a href="{{ project.url }}">{{ project.data.title }}</a></li>
    {% endfor %}
</ul>

<!-- resume list -->
<h2>Resume</h2>
{% for job in resume %}

    <h3>{{ job.title }}</h3>
    <span>{{ job.company}}</span><br>
    <span><i>{{ job.startDate }} - {{ job.endDate }}</i></span>
    <hr>
    
{% endfor %}


<!-- <img src="/assets/images/logo.png" alt="logo image"> -->